{% extends 'base/index.html' %}
{% load static %}

{% block content %}

    <div class="d-flex">
        {% include 'base/sidebar.html' %}
        <div class="p-5" style="width:100%">
            <button class="float-end btn btn-warning">Logout</button>
            <h3 class="text-dark">To UPI ID</h3>
            {% if errors %}
                <div class="alert alert-danger  " role="alert">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            {% endif %}
            {% include 'base/create_order_nav.html' %}
            <style>
                #toUPI {
                    border: 2px solid #FB923C !important;
                }
            </style>
            <form method=POST action="">
                {% csrf_token %}
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-6  ">
                            <label class="">
                                UPI ID
                            </label>
                            <input type="text" class="form-control" name="Upi_Id" required value="{{ form.Upi_Id }}" />
                        </div>
                        <div class="col-md-12 col-lg-6 col-6">
                            <label>
                                Receiver Name
                            </label>
                            <input type="text" class="form-control" name="receiver_name" required/>
                        </div>
                        <div class="col-md-12 col-lg-6 col-6  ">
                            <label class="">
                                Amount
                            </label>
                            <input type="number" class="form-control" name="amount" required value='"{{ form.amount }}"'/>
                        </div>
                        <input type="hidden" name="transaction_type" value="to_upi_id"/>
                        <input type="hidden" name="status" value="pending"/>
                    </div>
                </div>

                <button type=submit class="btn btn-warning my-2"> Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}

{#HHH#}
{#{% extends 'base/index.html' %}#}
{##}
{#{% block content %}#}
{#    <h1 class="font-bold text-xl">Create Order Page</h1>#}
{##}
{#    <form method=POST action="">#}
{#        {% csrf_token %}#}
{#        <div class="row">#}
{#            <div class="col-md-12 col-lg-6 col-6  ">#}
{#                <label class="">#}
{#                    UPI ID#}
{#                </label>#}
{#                <input type="number" class="form-control" name="Upi_Id" required value="{{ form.Upi_Id }}"/>#}
{#            </div>#}
{#            <div class="col-md-12 col-lg-6 col-6  ">#}
{#                <label class="">#}
{#                    Amount#}
{#                </label>#}
{#                <input type="number" class="form-control" name="Amount" required value="{{ form.amount }}"/>#}
{#            </div>#}
{#            <input type="hidden" name="transaction_type" value="to_upi_id"/>#}
{#            <input type="hidden" name="status" value="pending"/>#}
{#        </div>#}
{#        <button type=submit> Submit</button>#}
{#    </form>#}
{#{% endblock content %}#}